
<header class="page-header">
<h1>Dashboard</h1>
</header>

<h4> You have <%= @total_products %> products listed on Jungle</h4>
<br>
<h4> You have <%= @total_categories %> categories listed on Jungle</h4>



